1. Tentukan library digunakan

In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn import svm
from sklearn.metrics import accuracy_score

2. load dataset

In [2]:
data = pd.read_csv('Customertravel.csv')

In [3]:
data.head()

,Age,FrequentFlyer,AnnualIncomeClass,ServicesOpted,AccountSyncedToSocialMedia,BookedHotelOrNot,Target
0,34,1,3,6,0,1,0
1,34,3,2,5,1,1,1
2,37,1,3,3,1,0,0
3,30,1,3,2,0,0,0
4,30,1,2,1,0,0,0

In [4]:
data.isnull()

,Age,FrequentFlyer,AnnualIncomeClass,ServicesOpted,AccountSyncedToSocialMedia,BookedHotelOrNot,Target
0,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...
949,False,False,False,False,False,False,False
950,False,False,False,False,False,False,False
951,False,False,False,False,False,False,False
952,False,False,False,False,False,False,False
953,False,False,False,False,False,False,False

In [5]:
data.shape

(954, 7)

In [6]:
data['Target'].value_counts()

0    730
1    224
Name: Target, dtype: int64

In [7]:
X = data.drop (columns='Target',axis=1)
Y = data['Target']

In [8]:
print(X)

     Age  FrequentFlyer  AnnualIncomeClass  ServicesOpted  \
0     34              1                  3              6
1     34              3                  2              5
2     37              1                  3              3
3     30              1                  3              2
4     30              1                  2              1
..   ...            ...                ...            ...
949   31              3                  2              1
950   30              1                  3              5
951   37              1                  3              4
952   30              1                  2              1
953   31              3                  1              1

     AccountSyncedToSocialMedia  BookedHotelOrNot
0                             0                 1
1                             1                 1
2                             1                 0
3                             0                 0
4                             0                 0
..                          ...               ...
949                           0                 0
950                           0                 1
951                           0                 0
952                           1                 1
953                           0                 0

[954 rows x 6 columns]

In [9]:
print(Y)

0      0
1      1
2      0
3      0
4      0
      ..
949    0
950    0
951    0
952    0
953    0
Name: Target, Length: 954, dtype: int64

3. Memisahkan data Training dan data Testing

In [10]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, stratify=Y, random_state=2)

In [11]:
print(X.shape, X_train.shape, X_test.shape)

(954, 6) (763, 6) (191, 6)

4. Membuat data latih menggunakan algoritma svm

In [12]:
classifier = svm.SVC(kernel='linear')

In [13]:
classifier.fit(X_train, Y_train)

SVC(kernel='linear')

5. membuat model evaluasi untuk mengukur tingkat akurasi

In [14]:
X_train_prediction = classifier.predict(X_train)
training_data_accuracy = accuracy_score(X_train_prediction, Y_train)

In [15]:
print('Akurasi data training adalah =', training_data_accuracy)

Akurasi data training adalah = 0.8060288335517694

In [16]:
X_test_prediction = classifier.predict(X_test)
test_data_accuracy = accuracy_score(X_test_prediction, Y_test)

In [17]:
print('Akurasi data testing adalah=', test_data_accuracy)

Akurasi data testing adalah= 0.837696335078534

6. Membuat model prediksi

In [21]:
input_data = (30,1,2,1,1,1)

input_data_as_numpy_array = np.array(input_data)

input_data_reshape = input_data_as_numpy_array.reshape(1,-1)

prediction = classifier.predict(input_data_reshape)
print(prediction)

if (prediction[0] == 0):
    print('Pelanggan Tidak Akan Bergeser')
else :
    print('Pelanggan Akan Bergeser')

[0]
Pelanggan Tidak Akan Bergeser

c:\Users\vina\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but SVC was fitted with feature names
  warnings.warn(

7. Simpan Model

In [22]:
import pickle

In [23]:
filename = 'Customertravel_model.sav'
pickle.dump(classifier, open(filename,'wb'))